<aside>
    <div class="profile-img-wrapper row">
       <div class="img"> <img src="" alt="profile" id="profil_pic"></div>
        <input type="file" name="image" id="chose_pp">
        <label for="chose_pp" id="lb_chose_pp">Change</label>
    </div>
    <h1 class="profile-name">Mokom Hope Morel <br> 19 yrs old</h1>
    
    <nav class="social-links">
        <a href="https://www.linkedin.com/in/ndetis-elie-1a07a5221/" class="social-link"><i class="fab fa-linkedin"></i></a>
        <a href="#!" class="social-link"><i class="fab fa-stack-overflow"></i></a>
        <a href="#!" class="social-link"><i class="fab fa-github"></i></a>
    </nav>
    <div class="widget">
        <h5 class="widget-title">personal information</h5>
        <div class="widget-content">
            <p>BIRTHDAY : 28 october 2002 at Eseka </p>
            <p>WEBSITE : www.example.com</p>
            <p>PHONE : +237 690 768 832</p>
            <p>MAIL : nyobedjobelie@gmail.com</p>
            <p>Location : Yaounde, Cameroon</p>
            <button class="btn btn-download-cv btn-primary rounded-pill"> <img src="assets/images/download.svg" alt="download"
                class="btn-img">DOWNLOAD CV </button>
        </div>
    </div>
   
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">About me</h5>
                <p>I'm a student in the university of yaounde 1 under the course 
                    ICT4D were i am doing Software Ingeniering were i faught a great 
                    passion , by discovering new technologies such as web programming languages
                    (HTML CSS JS etc) , Saleforce 
                </p>
                <a href="#!" class="btn btn-primary btn-hire-me">HIRE ME</a>
            </div>
        </div>
    </div>
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">LANGUAGES</h5>
                <p>English : native</p>
                <p>French : fluent</p>
                <p>Italian : fluent</p>
            </div>
        </div>
    </div>
</aside>